<div class="content container">

<h2 class="section-title">
  <span class="glyphicon glyphicon-envelope"></span> 
  Create a New Volunteer
  <span class="glyphicon glyphicon-earphone"></span>
</h2>

<div class="blue-box-light">

  <div class="inner">
    <%= render 'form' %>
  </div>

</div>
