<div id="spacer"></div>

<div class="content container">

<h2 class="section-title">

  Volunteer has been created!

</h2>

<div class="blue-box-light">
  <p class="show">
    <%= @volunteer.name %><br />
    <%= @volunteer.email %><br />
    <%= @volunteer.phone %><br />
  </p>
