<% @articles.each do |article| %>

  <!--<%= article.source %>-->
  <div class='section-nav small-12 columns blue-box'>
    <h3>
      <strong><em><a href="<%= article.link %>"><%= article.title %></a></em></strong> 
    </h3>(<%= article.source %>)
  </div>
  
<% end %>
