<h2 class="section-title">
  Volunteer for Country Fair Activities
</h2>

<div class="container">
  <div style="width:60%;margin:0 auto 0 auto;" class="inner-lower">

    <% @shift_titles = @shifts.pluck(:title) %>
    <% @uniq_shifts = @shift_titles.uniq %>
    <% @vols_needed = @shifts.pluck(:vols_needed) %>

    <div class="list-group">
      <% @uniq_shifts.each do |title| %>
	<% @shifts_by_title = @shifts.where(title: title) %>
	<% @vols = @shifts.where(title: title).pluck(:vols_needed).sum %>
	<% @times = @shifts.where(title: title).pluck(:time) %>
	<% @time_vols = @shifts.where(title: title).pluck(:vols_needed) %>	

	<% if @vols > 0 %>

	  <div class="activity">
	    <a href="#" class="list-group-item">
	      <%= title %>
	      <span class="badge"><%= @vols %></span>
	    </a>
	  </div>

	  <div class="sub" style="display:none;">
	    <% @shifts_by_title.each do |shift| %>
	      <a href="#" class="list-group-item-sub">
		<%= shift.time %>
		<span class="badge"><%= shift.vols_needed %></span>
	      </a>
	    <% end %>
	  </div>
	<% end %>

      <% end %>
    </div>
  </div>

  <script>

   $(".activity").click(function(){
     $(this).next('.sub').toggle('slow');
     return false;
   });

  </script>
  
</div>

