<div id="philosophy" class="" style="">
  <div style="">
    <%= cms_snippet_content('philosophy', @cms_site).html_safe %>
  </div>
</div>

<script>

 $("#activities-list > li:gt(0)").hide();

 setInterval(function() { 
   $('#activities-list > li:first')
    .fadeOut(500)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#activities-list');
 },  9000);

</script>
