<div>


  <div class=".boot-scraping" style="height:900px;background-size:cover;">
    
    <div class=""
	 data-0="opacity:1;"
	 data-300="opacity:0;"
	 >      
      <div class="quote-bright mission-text-about" style="padding:25px;position:absolute;top:65%;">
	<div class="mission">

	  <div style="text-align:justify;">
	    <%= cms_snippet_content('mission-statement', @cms_site).html_safe %>
	  </div>
	</div>
      </div>
    </div>
  </div>



  <div id="philosophy" class="section" style="height:600px;">
    <%= cms_snippet_content('philosophy', @cms_site).html_safe %>
  </div>

</div>


<script>

 $("#activities-list > li:gt(0)").hide();

 setInterval(function() { 
   $('#activities-list > li:first')
    .fadeOut(4000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#activities-list');
 },  9000);

</script>
