<div class='col-md-12'>
  <h2>PRAIRIE HILL LEARNING CENTER</h2>
  <h3>
    <%= cms_snippet_content('mission-statement', @cms_site).html_safe %>
  </h3>
  <p>
    <%= cms_snippet_content('philosophy', @cms_site).html_safe %>
  </p>
</div>

<script>

 $("#activities-list > li:gt(0)").hide();

 setInterval(function() { 
   $('#activities-list > li:first')
    .fadeOut(500)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#activities-list');
 },  9000);

</script>
