<div class="boot-scraping" style="height:900px;background-size:cover;"></div>

<div id="philosophy" class="section philosophy-bg" style="height:1200px;">
  <div style="background:white;opacity:0.7;height:25%;padding:15px;position:relative;top:50%;">
    <%= cms_snippet_content('philosophy', @cms_site).html_safe %>
  </div>
</div>

<script>

 $("#activities-list > li:gt(0)").hide();

 setInterval(function() { 
   $('#activities-list > li:first')
    .fadeOut(500)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#activities-list');
 },  9000);

</script>
