<div id='articles' class='row expanded'>
  <div class='small-12 columns blue-box'>
      <h3>
        <strong><em><a href="http://www.robinettefarms.com/blog/robinette-farms-and-prairie-hill-learning-center">Robinette Farms and Prairie Hill Learning Center</a></em></strong> 
      </h3>(Robinette Farms)
  </div>

  <div class='small-12 columns'>
    <h3>
      <strong><em><a href="http://www.nebraskaentrepreneurship.com/postarchive/alternative-education-gives-future-startups-a-head-start/">Alternative Education Gives Future Startups a Head Start</a></em></strong>
    </h3>(Nebraska Entrepeneurship)
  </div>

  <div class='small-12 columns'>
    <h3>
      <strong><em><a class='' href="http://www.klkntv.com/story/32523880/excellence-in-education-prairie-hill-art">Excellence in Education: Prairie Hill Art</a></em> </strong>
    </h3>(KLKN-TV)
  </div>

  <div class='small-12 columns'>
    <h3>
      <strong><em><a href="http://www.klkntv.com/story/32507524/excellence-in-education-prairie-hill-learning-center">Excellence in Education</a></em></strong>
    </h3>(KLKN-TV)
  </div>

  <div class='small-12 columns'>
    <h3>
      <strong><em><a href="http://journalstar.com/news/local/education/fair-gives-city-kids-a-taste-of-country-life/article_c042ed11-8e6d-5fa1-bfb6-351614d69e8b.html">Fair Gives City Kids a Taste of Country Life</a></em></strong>
    </h3>(Journal Star)
  </div>

  <div class='small-12 columns'>
    <h3>
      <strong><em><a href="http://journalstar.com/news/local/education/prairie-hill-teacher-learning-spanish-in-mexico-lps-summer-school/article_13fcebc3-13d5-5876-a495-15b43dc9de12.html">Prairie Hill teacher learning Spanish in Mexico</a></em></strong>
    </h3>(Journal Star)
  </div>

  <div class='small-12 columns'>
    <h3>
      <strong><em><a href="http://journalstar.com/lifestyles/prairie-hill-teacher-returns-from-arctic-expedition/article_cd3a3640-0d7b-5d4a-859f-b1f2990b9b3e.html">Prairie Hill teacher returns from arctic expedition</a></em></strong>
    </h3>(Journal Star)
  </div>

  <div class='small-12 columns'>
    <h3>
      <strong><em><a href="http://journalstar.com/lifestyles/family/raising-green-kids-is-more-about-lifestyle-than-teaching/article_c1d799b7-4068-5ea0-95ae-a43e8da364fe.html">Raising Green Kids is more about lifestyle than teaching</a></em></strong>
    </h3>(Journal Star)
  </div>

  <div class='small-12 columns'>
    <h3>
      <strong><em><a href="http://journalstar.com/niche/neighborhood-extra/kids-and-classrooms/dexter-drbal-to-receive-eagle-scout-award/article_edd96b9d-52f8-54d2-9318-611a434698c9.html">Dexter Drbal to Receive Eagle Scout Award</a></em></strong>
    </h3>(Journal Star)
  </div>

  <div class='small-12 columns'>
    <h3>
      <strong><em><a href="http://journalstar.com/news/local/govt-and-politics/article_4e3946c5-f551-507f-8962-4238d46bf221.html">Prairie Hill installs wind turbine -- Journal Star</a></em></strong>
    </h3>(Journal Star)
  </div>

  <div class='small-12 columns'>
    <h3>
      <strong><em><a href="http://journalstar.com/news/local/education/school-s-historic-barn-gets-an-update/article_1612e200-9b85-55fe-b86a-ee4d2ff475ea.html">School's Historic Barn Gets an Update</a></em></strong>
    </h3>(Journal Star)
  </div>
  
</div>
