<div> 
  <div class="large-img news-bg"
       style="background-size:cover;height:900px;">

    <% if current_page?(news_path) %>
      <div class="anchor-trans"
	   data-0="top:60%;"
	   data-500="top:100%;">
    <% else %>
      <div class="anchor-trans"
	   >
    <% end %>
      <%= link_to "Sign up for PRAIRIE HILL summer camp!", camp_path, class: "important-link" %>
    </div>

  </div>

  <div id="parent-tour" class="section">
    <h2 class="sub-title">Prospective Parent Tour Date:</h2>
    <%= cms_snippet_content('parent-tour', @cms_site).html_safe %>
  </div>

</div>
