<% meta title: 'PRAIRIE HILL Learning Center NEWS',
description: 'Latest News at PRAIRIE HILL Learning Center',
keywords: %w(unique nebraska roca farm country animals young elementary primary adolescent help education tradition family community parent tours dates) %>


<div class='news-slider bottom-shadow'>

  <%= render 'news_slider' %>
  
</div>

<script>
 $(document).ready(function(){
   
 });
</script>
