<h2 class="section-title"><span class=""></span> News </h2>

<div class="blue-box-light">
  <div class="large-img">
    <%= image_tag("camp-50.jpg", class: "large-img") %>
  <div>
    <%= link_to "Sign up for PRAIRIE HILL summer camp!", "#", class: "important-link" %></div>

  <div id="parent-tour" class="section">

    <h2 class="sub-title">Prospective Parent Tour Date:</h2>
    <%= cms_snippet_content('parent-tour', @cms_site).html_safe %>

  </div>
</div>
