<% meta title: 'PRAIRIE HILL Learning Center NEWS',
description: 'Latest News at PRAIRIE HILL Learning Center',
keywords: %w(unique nebraska roca farm country animals young elementary primary adolescent help education tradition family community parent tours dates) %>


<div class='news-slider'>

  <%= render 'news_slider' %>
  
</div>

<% content_for :small do %>
  <h1 class='hi-li padded-sides'>Prospective Parent Tour Dates</h1>
  <%= cms_snippet_content('parent-tour', @cms_site).html_safe %>
  <%= image_tag "audrey_jump.jpg", class: 'feature-image' %>
  <div class='small-12 small-centered columns padded'
       style='
       background:white;
       font-size:4vw;
       border-radius: 5px;
       '
       >
    <p>Prospective Parent Tours, for adults and nursing infants only (children will be given opportunities to visit prior to enrollment), provide the opportunity to learn about the history of PRAIRIE HILL and Montessori education, observe the work of the children in the classrooms, and have your questions answered. Please <em>RSVP by calling 402.438.6668</em> or filling out the email form below.</p>
  </div>
<% end %>

<script>
 $(document).ready(function(){
   
 });
</script>
