<h3 class='hi-li-grn padded'>
  Prospective Parent Tour Dates
</h3>
<div class='' style=''>
  Prospective Parent Tours, for adults and nursing infants only (children will be given opportunities to visit prior to enrollment), provide the opportunity to learn about the history of PRAIRIE HILL and Montessori education, observe the work of the children in the classrooms, and have your questions answered. Please <em>RSVP by calling 402.438.6668</em> or filling out the email form below.
</div>

<h4 class=''><%= cms_snippet_content('parent-tour', @cms_site).html_safe %></h4>
<%= image_tag("ella_reads.jpg") %>
