<div class='small-12 columns'>
  <h1 class='hi-li-gradient green padded bottom-shadow text-outline-dark center'>
    <strong>
      <span class='kaushan'>Videos</span>
    </strong>
  </h1>
</div>

<div class='small-12 columns'>
  <iframe src="https://player.vimeo.com/video/18796130" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <p><a href="https://vimeo.com/18796130">The Food Life: Prairie Hill Learning Center</a> from <a href="https://vimeo.com/user2122849">Erin Duerr</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>
