<div class='small-12 columns'>
  <h1 class='hi-li-gradient content-box'>
    <strong>
      <h1 class='padded kaushan text-outline-dark'>
        <span class='text-outline-darker' style='color:white;'>
          <i class='fa fa-child'></i></span>
        <span class='green'>Videos</span>
      </h1>
    </strong>
  </h1>
</div>

<div class='small-12 columns'>
  <iframe src="https://player.vimeo.com/video/18796130" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <p><a href="https://vimeo.com/18796130">The Food Life: Prairie Hill Learning Center</a> from <a href="https://vimeo.com/user2122849">Erin Duerr</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>
