<div class="col-md-12" style="">

  <h3 class="">E-mail PHLC at prairiehillschool@yahoo.com to get your meeting, event or deadline included on the calendar</h3><br/>

  <p>
    <div id="cal">
      <iframe src="https://www.google.com/calendar/embed?src=prairiehillschool%40yahoo.com&amp;ctz=America/Chicago" frameborder="0" scrolling="no" width="90%" height="700px">
      </iframe>
    </div>
  </p>
</div>

