<div class='small-12 small-centered columns'>

  <div class='row'>
    <div class='small-12 small-centered columns'>
      <iframe src="https://www.google.com/calendar/embed?src=prairiehillschool%40yahoo.com&amp;ctz=America/Chicago" frameborder="0" scrolling="no" width="100%" height="600px">
      </iframe>
    </div>
  </div>
  
  <div class='row'>
    <div class='small-12 small-centered columns'>
      <div class='button expand' style='padding:15px;background-color:white;color:black;font-weight:bold;'>E-mail PHLC at <a href='mailto:prairiehillschool@yahoo.com?Subject=Calendar%20Submission' class=''>prairiehillschool@yahoo.com</a> to get your meeting, event or deadline included on the calendar or use our <a href='/contact' class=''>contact form</a></div>
    </div>
  </div>
    
</div>
