<div class="content">

E-mail Jeanne at prairiehillschool@yahoo.com to get your meeting, event or deadline included on the calendar

<p>
  <iframe style="border: 0;" 
	  src="https://www.google.com/calendar/embed?src=prairiehillschool%40yahoo.com&amp;ctz=America/Chicago" 
	  frameborder="0" 
	  scrolling="no" 
	  width="100%" 
	  height="600">
  </iframe>
</p>

