<%= render 'ccf_menu' %>

<h1 class='hi-li'>The Children's Country Fair</h1>
<h2>October 3, 2015 11am-3pm</h2>

<img class='ccf-image-main center' src='http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/027/original/hattie-ccf.jpg' />

<div class='jumbotron'>
  <p>
    Please join us for a family and child-centered event that includes wagon and pony rides, artisans, country fair food, music, cake-walk, obstacle course, dunk tank, face-painting and dress-up, water play, bubble-making, penny toss, and much more!
  </p>
  <p>
    <a class='btn btn-primary' href='/activities'>Volunteer Here!</a> Click on any of the activities you see to the right to view available shifts, then click the "Sign Up" button. View your scheduled shifts <a href="/user_shifts">here</a>.
  </p>
  <p>
    Help place tables, chairs, canopies, signs, materials, trash and composting bins.
  </p>
  <p>
    Organize items, label and price as needed, collect money and tickets for items purchased, prepare root beet floats.
  </p>
  <p>
    Assemble orders, prepare sandwiches, etc. , collect money and tickets for meals.
  </p>
  <p>
    Bring a creative spirit and have fun!  Supplies and sample design inspirations are provided.
  </p>
  <p>
    This activity will make you laugh and get you wet.
  </p>
  <p>
    <em><span data-redactor-tag="span" class="brighten">Ideal for parent and child team</span></em>
  </p>
  <p>
    This activity is located at the sand box by the farmhouse and is a perennial favorite among the younger set.
  </p>
  <p>
    <em><span data-redactor-tag="span" class="brighten">Ideal for parent and child team</span></em>
  </p>
  <p>
    You will start and stop the music and give the winner a cake!
  </p>
  <p>
    <em><span data-redactor-tag="span" class="brighten" style="font-size: 1vw;" rel="font-size: 1vw;">Ideal for parent and elementary child team</span></em>
  </p>
  <p>
    Assist children as they assume new identities from Prairie Hill's expansive costume collection.
  </p>
  <p>
    <em><span data-redactor-tag="span" class="brighten">Ideal for parent and child team</span></em>
  </p>
  <p>
    Supervise, cheer, and assist children as they navigate a fun challenge course for young children.
  </p>
  <p>
    Supplies (pennies and cups) will be on hand. Stock cups as needed.
  </p>
  <p>
    <em><span data-redactor-tag="span" class="brighten" style="font-size: 1vw;" rel="font-size: 1vw;">Ideal for parent and elementary child team</span></em>
  </p>
  <p>
    Don a fun outfit with many pockets. Collect a ticket and invite the player to check a pocket.  Supplies (including outfit!) is provided.
  </p>
  <p>
    One person will take tickets, the other will get dunked! (you can swap spots). Bring a change of clothes.
  </p>
  <p>
    Collect cash ($2 per car; musicians and vendors park free) and direct cars to parking in the pasture. Dress for the weather. Bring a water bottle. We provide a chair, safety vest, and money aprons. Parkers will be stationed on highway 77 at the pasture entrance and in the pasture.
  </p>
  <p>
    Use your own camera and share the photos you take with the Fair Planning team to be distributed to the community.
  </p>
  <p>
    Someone ready to run from one end of the fair to the other as needed by various members of the fair committee.
  </p>
  <p>
    Take tickets. Volunteer will need some sense of how to throw a lasso.
  </p>
  <p>
    Collect tickets.
  </p>
  <p>
    <em><span data-redactor-tag="span" class="brighten">Ideal for parent to volunteer with their young child</span></em>.
  </p>
  <p>
    Count tickets, collect money, encourage raffle and fund raising package sales.
  </p>
  <p>
    Ideal for an Older Elementary or Adolescent student. Assist participants in drawing simple animals.  Samples will be provided.
  </p>
  <p>
    Assist children (with someone from Dixon Power Systems) as they get their hands wet creating energy.
  </p>
  <p>
    Assist Children (with someone from Lux) in creating their own button and bookmark designs.
  </p>
  <p>
    Adult volunteer to run corn cobbing machine. Will need to stay alert to assist children with cranking while keeping hands out of the machine.
  </p>
  <p>
    Assist children with monor injuries. Call EMS if needed. First aid supplies are included.
  </p>


  <%#= cms_snippet_content('ccf', @cms_site).html_safe %>
</div>

