<div class='bottom-shadow'>

  <div class='row'>
    <div class='small-12 columns'>
      <!--SLIDES-->
      <div class='row'>

	<div class='small-12 columns'>

	  <div class='small-6 columns padded bottom-shadow left' style=''>
	    <div class='small-12 small-centered columns'>
	      <div class='row' style='position:relative;z-index:3;'>
		<%= link_to image_tag("funrun2015.jpg"), 'https://secure.getmeregistered.com/get_information.php?event_id=122474' %>
	      </div>
	    </div>
	  </div>

	  <div class='small-6 columns padded right'>
	    <div class='small-12 small-centered columns'>

	      <!--SNIPPET funruninfosnippet-->

	      <!--REGISTER-->
	      
	      <div class="row">
		<div class="small-6 columns left hi-li-grn left bottom-shadow">
		  <strong>Little Run</strong>
		</div>

		<div class='small-6 columns right hi-li padded-sides bottom-shadow' style='text-align:right;'>
		  <span style=''>on the Prairie</span>
		</div>
	      </div>

	      <div class='row'>
		<div class='small-5 columns left'>
		  <strong><em>October 3 @ 10:30</em></strong>
		</div>
		<div class='small-3 columns' style='text-align:center;'>
		  $10
		</div>
		<div class='small-4 columns right' style='text-align:right;'>
		  Register <a href="https://secure.getmeregistered.com/get_information.php?event_id=122474" class="" style='position:relative;z-index:3;border-top:2px solid white;'><strong>Here</strong></a>!
		</div>
	      </div>

	      <hr/>

	      <div class='row'>
		<div class='small-12 columns'>
		  <div id='fun-run-control'> </div>
		</div>
	      </div>

	      <br/>
	      
	      <!--FUNRUN SLIDER-->
	      <div id='funrun-slider' class='funrun-slider' style='position:relative;z-index:3;text-align:center;'>
		
		<div class='funrun-slide'>
		  
		  <br/>
		  <em>Non-competitive fun run -- everyone is a winner :)</em>
		  <br/>
		  Parents are welcome to run with their children! Children need not run the entire length of the mile, they can run or walk as much as they can!
		</div>

		<div class='funrun-slide'>
		  Children's Country Fair immediately following the run, 11-3pm
		  <br/>
		  10:00 Tshirt Pickup begins
		  <br/>
		  10:30 AM start
		</div>

		<div class='funrun-slide'>		  
		  Walk on registration available without T-shirt
		  <br/>
		  FREE T-SHIRT with registration
		  <br/>
		  T-Shirts for YOUTH
		</div>

		<div class='funrun-slide'>		  
		  THIS IS A ZERO WASTE EVENT, SO BRING YOUR WATER BOTTLES AND WE WILL FILL THEM UP
		</div>

		<div class='funrun-slide'>
		  <strong>Thanks to our sponsors!</strong>
		  <br/>
		  Dr. Scott Swanson
		  <br/>
		  Lincoln Surgical Hospital
		  <br/>
		  Nebraska Surgery Center
		  <br/>
		  UBT
		  <br/>
		  Nelnet Foundation
		  <br/>
		  Snyder Physical Therapy
		  <br/>
		  LDB Endurance INC
		  <br/>
		  Doctors of Children
		  <br/>
		  Lincoln Orthopedic Center
		  <br/>
		  Healthy Start Chiropractic
		  <br/>
		  Wholehearted Health Care
		  <br/>
		  Rehm, Bennett & Moore, P.C., L.L.O.

		</div>
		
		<div class='funrun-slide'>		  
		  <div class='small-6 small-centered columns'>
		    <img src='http://prairiehill.com/wp-content/uploads/2014/09/saslogo.png'>
		  </div>
		  MANY THANKS to our Title Sponsor!
		  <br/>
		  <em><a href='https://secure.getmeregistered.com/get_information.php?event_id=122474'>ADDITIONAL DONATIONS</a></em> WELCOME
		</div>
		
		<%#= raw cms_snippet_content('fun-run-info', @cms_site) %>
	      </div>

	      <br/>
	      

	      <hr/>
	      
	      <div class="row">
		<div class="small-6 columns left hi-li-grn left bottom-shadow">
		  <strong>Country Fair</strong>
		</div>

		<div class='small-6 columns right hi-li padded-sides bottom-shadow' style='text-align:right;'>
		  <span style=''>Activities!</span>
		</div>
	      </div>
	      
	      <div class='row' style='position:relative;z-index:3;'>
		<%= link_to render('pages/ccf_slide'), '/ccf/volunteer' %>
	      </div>
	      
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <!--donors section-->
    Donors section
    <!--^^-->
    

  </div>
  <!--^^-->
</div>
