
<div class='small-12 small-centered columns'>

  <div class='row'>
    <div class='small-6 columns'>
      <h2 class="hi-li padded">Little Run on the Prairie</h2>
    </div>
    <div class='small-6 columns'>
      <h2 class='hi-li-grn padded' style='color:white;text-align:right;'>Saturday, October 3rd</h2>
    </div>
  </div>

  <div class='row'>
    <div class='small-12 small-centered columns'>
      <h3 class='button expand'>Benefit run for Jennifer Bratcher and family (Bodhi Imports)</h3>
    </div>
  </div>

  <div class='row'>
    <div class='small-11 small-centered columns'>
      <div class='small-6 columns'>
	<ul>
	  <li>
	    <h4>1 MILE RUN in the PRAIRIE HILL Pasture</h4>
	    <h4><em>Non-competitive fun run -- everyone is a winner :)</em></h4>
	  </li>
	  <li>
	    <h4>Cost-$10</h4>
	    <h4>ADDITIONAL <em>DONATIONS</em> WELCOME</h4>
	  </li>
	  <li>
	    <h4>10:30 AM- start</h4>
	    <h4>Packet Pick up 9:30 AM</h4>
	  </li>
	  <li>
	    <h4>Prairie Hill Learning Center</h4>
	    <h4>11705 South 12 th Street</h4>
	    <h4>Roca Hwy 77 South</h4>
	    <h4>past Sprague Road, on the right hand side of the road</h4>
	    <h4>LOOK FOR THE Children's Country Fair SIGNS! (Fair 11am-3pm)</h4>
	  </li>
	  <li>
	    <h4>T-Shirts for YOUTH</h4>
	  </li>
	  <li>
	    <h4>THIS IS A ZERO WASTE EVENT SO BRING YOUR WATER BOTTLES AND WE WILL FILL THEM UP</h4>
	    <h4>GELATO after the run</h4>
	    <h4>THANKS to Erin Burianek!! MANY THANKS to our Title Sponsor</h4>
	  </li>
	  <li>
	    <h4><a href="http://www.bit.ly/littlerunontheprairie">Online registration @ GetMeRegistered.com</a></h4>
	    <h4>Walk on registration available without T-shirt.</h4>
	  </li>
	  <li>
	    <h4>Run for JENNIFER</h4>
	    <h4>Contact info: Rosina Paolini 402-423-1260</h4>
	  </li>
	</ul>
      </div>

      <div class='small-6 columns right'>
	<img src='http://prairiehill.com/wp-content/uploads/2014/09/saslogo.png'>
      </div>
    </div>
  </div>
  
</div>
