<%= render 'metadata_partial' %>
<!--TOP-->
<div id='top' class='expanded row'>
  <span class='special-case'></span>
</div>

<!--TOPNAV-->
<div id='home-nav' class='expanded row blue-box-dark-outline'>
  <div class='small-12 columns'>
    <h4 style='text-align:right;'>
      <em><a href='#tours'>PARENT TOURS </a> | </em> 
      <em><a href='#uniq'>What Makes PRAIRIE HILL unique?</a> | </em>
      <em><a href='#news'>News Articles</a></em>
    </h4>
  </div>
</div>

<!--DONATE-->
<div id='donate' class='expanded row bottom-shadow content-box special-box'>
  <div class='small-12 columns'>
    <h1 class="hi-li padded">
      <strong>How to Support PHLC</strong></h1>
  </div>

  <div class='small-11 small-centered columns'>
    <p class='p-box'>
      PRAIRIE HILL Learning Center is a non-profit organization so your donations are tax deductible. If you would like to assist the school with a financial contribution, use PayPal:
    </p>
  </div>

  <div class='small-11 small-centered columns'>  
    <form action="https://www.paypal.com/cgi-bin/webscr"
          method="post">
      <span style="font-family:trebuchet ms,arial,helvetica;"
            rel="font-family: trebuchet ms,arial,helvetica;">
        <input name="cmd"
               value="_xclick"
               type="hidden">
        <input name="business"
               value="prairiehillschool@yahoo.com"
               type="hidden">
        <input name="no_note"
               value="1"
               type="hidden">
        <input name="currency_code"
               value="USD"
               type="hidden">
        <input name="tax"
               value="0"
               type="hidden">
        <input alt="Make payments with PayPal - it's fast, free and secure!"
               name="submit"
               src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png"
               type="image">
      </span>
    </form>
  </div>

  <hr>
    
  <div class='small-11 small-centered columns'>
    <h3>Please make your checks payable to PRAIRIE HILL Learning Center and mail to:</h3>
  </div>

  <div class='small-6 small-centered columns'>
    <h2><strong>PRAIRIE HILL Learning Center</strong><br>
      17705 South 12th Street<br>
      Roca, NE 68430</h2>
  </div>

  <hr/>

  <div class='small-12 columns'>
    <div class='small-11 small-centered columns'>
      <h3>
        <a href="http://givetolincoln.razoo.com/">
          <strong>Raise money online</strong></a> for <a href="http://givetolincoln.razoo.com/story/Prairie-Hill-Learning-Center">
            <strong>PRAIRIE HILL LEARNING CENTER</strong></a></h3>
    </div>
  </div>
</div>

<% content_for :leftside do %>
  <hr>
  <div class='small-12 columns padded'>
    <%= image_tag("table_outside.jpg", class: 'bottom-shadow padded small-12 small-centered columns') %>
  </div>
<% end %>
