<div class='small-12 small-centered columns'>

  <div id='title' class='row'>
    <h1 class="hi-li"><strong>How to Support PHLC</strong></h1>
  </div>

  <div class='row'>
    <div class='small-11 columns'>
      PRAIRIE HILL Learning Center is a non-profit organization so your donations are tax deductible. If you would like to assist the school with a financial contribution, use PayPal:
    </div>
  </div>

  <div class='row'>
    <div class='small-6 small-centered columns'>  
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<span style="font-family: trebuchet ms,arial,helvetica;" rel="font-family: trebuchet ms,arial,helvetica;"><input name="cmd" value="_xclick" type="hidden"> <input name="business" value="prairiehillschool@yahoo.com" type="hidden"> <input name="no_note" value="1" type="hidden"> <input name="currency_code" value="USD" type="hidden"> <input name="tax" value="0" type="hidden"> <input alt="Make payments with PayPal - it's fast, free and secure!" name="submit" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" type="image"> </span>
      </form>
    </div>
  </div>

  <hr/>
  
  <div class='row'>
    <div class='small-11 columns'>
      <h3>Please make your checks payable to PRAIRIE HILL Learning Center and mail to:</h3>
    </div>
  </div>

  <div class='row'>
    <div class='small-6 small-centered columns'>
      <h2><strong>PRAIRIE HILL Learning Center</strong><br>
	17705 South 12th Street<br>
	Roca, NE 68430</h2>
    </div>
  </div>

  <hr/>
  
  <div class='row'>
    <div class='small-11 small-centered columns'>
      <h3><a href="http://givetolincoln.razoo.com/">Raise money online</a> for <a href="http://givetolincoln.razoo.com/story/Prairie-Hill-Learning-Center">PRAIRIE HILL LEARNING CENTER</a></h3>
    </div>
  </div>
  
</div>
