<div style="background: image-url('watering-cans.jpg');background-size:cover;height:100%;">
  <div class="container">
    <div id="jobs" style="background:white;margin-top:25%;">
    <%= cms_snippet_content('donate', @cms_site).html_safe %>
  </div>
</div>
