<%#= render 'financial_info_button' %>

<!--FINANCIAL-->
<div id='financial' class='expanded row bottom-shadow content-box special-box'>

  <div class='small-12 columns'>
    <h3>Click <strong>
      <%= link_to "HERE", "http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/058/original/Financial_Information_September_1__2016.pdf" %></strong> to download a copy of the most current Financial Information and Policies.</h3>
  </div>

  <div class='small-12 columns'>
    <%= cms_snippet_content('financial', @cms_site).html_safe %>
  </div>

</div>
