<div class="slide-1"
     data-0="background-position: 0% 130%;"
     data-2000="background-position: 0% 0%;">
  <div id="mission-statement"
       data-250="opacity:0;"
       data-500="opacity:0.5;">
    <%= cms_snippet_content('mission-statement', @cms_site).html_safe %>
  </div>
  <div id="unique">
    <h2 class="hi-li-2 container center" style="margin: 0 0 0 55%;background:green;width:35%;">What makes PRAIRIE HILL unique?</h2>
    <div>
      <%= cms_snippet_content('ph-unique', @cms_site).html_safe %>
    </div>
  </div>
</div>

<div class="content">

  <div id="latest-news" class="content-top"
       data-0="opacity:0;"
       data-2000="opacity:1;">
    <%= render 'news' %>
  </div>

  <div id="about" class="content-top">
    <%= render 'about2' %>
  </div>

</div>

<script>

 $("#slideshow > div:gt(0)").hide();

 setInterval(function() { 
   $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(2000)
    .end()
    .appendTo('#slideshow');
 },  9000);

</script>


