<div id="quote"
     data-0="opacity:0.5;"
     data-500="opacity:0;"
     >
  <%= render 'layouts/quote' %>
</div>

<div class="content"
     data-0="opacity:0;"
     data-500="opacity:1;"
     >

  <div id="latest-news">
    <%= render 'news' %>
  </div>

  <div id="about">
    <%= render 'about' %>
  </div>

</div>
	


