<div id="quote">
  <%= render 'layouts/quote' %>
</div>

<div class="content container">

  <div id="latest-news">
    <%= render 'news' %>
  </div>

  <div id="about">
    <%= render 'about' %>
  </div>

</div>
	


