
<div id="quote">
  <%= render 'layouts/quote' %>
</div>

<div class="content">

  <section id="latest-news">
    <%= render 'news' %>
  </section>

  <section id="about">
    <%= render 'about' %>
  </section>

</div>


