<div class="slide-1"
     data-0="background-position: 0% 150%;"
     data-2000="background-position: 0% 0%;">

  <div class="mission-statement padded"
       style="background:transparent;
              color:black;
              font-size:2vw;"

       data-250="opacity:0;"
       data-400="opacity:0.8;">

    <div class="container" style="color:white;">
      <div class="mission">
	<div class="green gold-bg" 
	     data-0="font-size:6vw;opacity:1;" 
	     data-500="font-size:4vw;"
	     data-900="opacity:0;">
	  PRAIRIE HILL LEARNING CENTER</div>
	<div class="green-bg padded bottom-shadow">
	  <%= cms_snippet_content('mission-statement', @cms_site).html_safe %>
	  </div>
      </div>
    </div>
  </div>

  <div id="unique"
       data-0="opacity:0;"
       data-1000="opacity:0;"
       data-1180="opacity:1;">

    <div class="green-bg" 
	 style="margin-top:400px;height:60px;width:100%;">
      <h1 class="hi-li-2 container left padded" 
	  data-1100="opacity:0;"
	  data-1200="opacity:0.9;"
	  style="font-size:2vw;">
	What makes PRAIRIE HILL unique?
      </h1>
    </div>

    <div class="justify">
      <%= cms_snippet_content('ph-unique', @cms_site).html_safe %>
    </div>
  </div>
</div>


<div id="latest-news">
  <%= render 'news' %>
</div>

<div id="about">
  <%= render 'about2' %>
</div>



<script>

 $("#slideshow > div:gt(0)").hide();

 setInterval(function() { 
   $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(2000)
    .end()
    .appendTo('#slideshow');
 },  9000);

</script>


