<%= render 'metadata_partial' %>

<div id='top' class='expanded row'>
  <span class='special-case'></span>
</div>

<div id='videos' class='expanded row'>
  
  <div class='small-12 columns bottom-shadow content-box special-box'>
    
    <%= render 'videos' %>
    
  </div>
</div>

