<div>

  <section id="YCC">

    <div>
      <%= cms_snippet_content('ycc-program', @cms_site).html_safe %>
    </div>

  </section>

  <section id="Primary">
    
    <div>
      <%= cms_snippet_content('primary-program', @cms_site).html_safe %>
    </div>
    
  </section>

  <section id="Elementary">
    
    <div>
      <%= cms_snippet_content('elementary-program', @cms_site).html_safe %>
    </div>
    
  </section>

</div>
