<div>

  <section id="YCC">

    <div data-0="opacity:1;"
	 data-1000="opacity:0;">
      <%= cms_snippet_content('ycc-program', @cms_site).html_safe %>
    </div>

  </section>

  <section id="Primary">
    
    <div data-0="opacity:0;"
	 data-900="opacity:1;"
	 data-1500="opacity:0;">
      <%= cms_snippet_content('primary-program', @cms_site).html_safe %>
    </div>
    
  </section>

  <section id="Elementary">
    
    <div data-0="opacity:0;"
	 data-1000="opacity:0;"
	 data-1800="opacity:1;"
	 data-2100="opacity:0;">
      <%= cms_snippet_content('elementary-program', @cms_site).html_safe %>
    </div>
    
  </section>

</div>
