<div>

  <section id="YCC">

    <div data-0="opacity:1;"
	 data-1000="opacity:0;">
      <%= cms_snippet_content('ycc-program', @cms_site).html_safe %>
    </div>

  </section>

  <section id="Primary">
    
    <div data-0="opacity:0;"
	 data-900="opacity:1;"
	 data-1500="opacity:0;">
      <%= cms_snippet_content('primary-program', @cms_site).html_safe %>
    </div>
    
  </section>

  <section id="Elementary">
    
    <div data-0="opacity:0;"
	 data-1000="opacity:0;"
	 data-1800="opacity:1;"
	 data-2100="opacity:0;">
      <%= cms_snippet_content('elementary-program', @cms_site).html_safe %>
    </div>
    
  </section>

  <div id='financial'
       class='container'
       data-0='opacity:0;'
       data-2100='opacity:0;'
       data-2200='opacity:1;'
       >
    <h3>
      Click 
      <%= link_to "HERE", "http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/046/original/Financial_Information_September_1__2014.pdf" %> 
      to download a copy of the most current Financial Information and Policies.
    </h3>


    <EMBED SRC="http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/046/original/Financial_Information_September_1__2014.pdf" WIDTH="950" HEIGHT="800" ALIGN="BOTTOM">
    </EMBED>
  </div>


</div>
