<div class="staff-bg" style="background-size:cover;height:900px;">
  <div id="staff">
    <%= cms_snippet_content('staff-biographies', @cms_site).html_safe %>
  </div>
</div>

<script>


/* $(function(){
   $('#staff div:gt(0)').hide();
   setInterval(function(){
     $('#staff :first-child').fadeOut()
     .next('div').fadeIn()
     .end().appendTo('#staff');},
	       3000);
 });*/

 $("#staff > div:gt(0)").hide();

 setInterval(function() { 
   $('#staff > div:first')
    .fadeOut(2000)
    .next()
    .fadeIn(2000)
    .end()
    .appendTo('#staff');
 },  9000);

</script>


