<div class='col-md-12'>
  <div id="staff">
    <div class="staff-info">
      <div id="staff-admin">

	<div class="member">
	  <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/047/original/mandie2.png');">&nbsp;</div>
	  <div class="staff-name">
	    <h3 class='name'>Mandie Schadwinkel</h3>
	    <h3><em>(B.S., M.Ed., A.M.I. Certified)</em></h3>
	    <h3 class="bio-title"><em>Executive Director</em></h3>
	    <h3 class="bio">Mandie ....</h3>
	  </div>
	</div>

	<div class="member">
	  <div class="staff-img" style="background-image: url('/system/comfy/cms/files/files/000/000/014/original/chris.png');">&nbsp;</div>
	  <div class="staff-name">
	    <h3 class='name'>Chris Eigbrett</h3>
	    <h3><em>(B.S., A.M.S. Certified, A.M.I. Certified)</em></h3>
	    <h3 class="bio-title"><em>Director of Pedagogical Support</em> <br /> <em>Young Children's Community (lead)</em></h3>
	    <h3 class="bio">Chris...</h3>
	  </div>
	</div>
	<div class="member">
	  <div class="staff-img" style="background-image: url('/system/comfy/cms/files/files/000/000/013/original/jeanne.png');">&nbsp;</div>
	  <div class="staff-name">
	    <h3 class='name'>Jeanne Hevener</h3>
	    <h3><em>(B.S., B.M.E.)</em></h3>
	    <h3 class="bio-title"><em>Administrative Specialist</em></h3>
	    <h3 class="bio">Jeanne...</h3>
	  </div>
	</div>
      </div>
      <div id="staff-communities" class="staff-info">
	<div id="staff-ycc">
	  <div id="ycc-lead">
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/029/original/ania.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Ania Szary-Berkowitz</h3>
		<h3><em>(B.S., M.S., A.M.S. Certified)</em></h3>
		<h3 class="bio-title"><em>Young Children's Community (lead)</em></h3>
		<h3 class="bio">Ania...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/035/original/sandra.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Sandra Rebel-Batelaan</h3>
		<h3><em>(B.S., Montessori in training)</em></h3>
		<h3 class="bio-title"><em>Young Children's Community (lead)</em></h3>
		<h3 class="bio">Sandra...</h3>
	      </div>
	    </div>
	  </div>
	  <div id="ycc-assist">
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/056/original/nicoleh3.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Nicole Hannan</h3>
		<h3><em>(B.S., AMS Certified)</em></h3>
		<h3 class="bio-title"><em>Young Children's Community (assistant), Primary Community (assistant)</em></h3>
		<h3 class="bio">Nicole...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/036/original/stephanie.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Stephanie Meyer</h3>
		<h3 class="bio-title"><em>Young Children's Community (assistant)</em></h3>
		<h3 class="bio">Stephanie...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/055/original/darren3.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Darren Krafka</h3>
		<h3><em>(B.A.)</em></h3>
		<h3 class="bio-title"><em>Young Children's Community (assistant)</em></h3>
		<h3 class="bio">Darren...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/051/original/kristina.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Kristina Tiebel</h3>
		<h3><em>(B.S.)</em></h3>
		<h3 class="bio-title"><em>Young Children's Community (assistant)</em></h3>
		<h3 class="bio">Kristina...</h3>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="staff-primary">
	  <div id="primary-lead">
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/030/original/justin.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Justin Fearing</h3>
		<h3><em>(B.A., A.M.I. Certified)</em></h3>
		<h3 class="bio-title"><em>Primary Community (lead)</em></h3>
		<h3 class="bio">Justin...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/041/original/madeline.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Madeline Weiland</h3>
		<h3><em>(B.A., M.Ed., A.M.S. Certified)</em></h3>
		<h3 class="bio-title"><em>Primary Community (lead)</em></h3>
		<h3 class="bio">Madeline...</h3>
	      </div>
	    </div>
	  </div>
	  <div id="primary-assist">
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/037/original/grant.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Grant Brownyard</h3>
		<h3><em>(AMI Certified Assistant)</em></h3>
		<h3 class="bio-title"><em>Primary Community (assistant)</em></h3>
		<h3 class="bio">Grant...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/052/original/mick.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Mick Rodysill</h3>
		<h3><em>(B.S.)</em></h3>
		<h3 class="bio-title"><em>Primary Community (assistant)</em></h3>
		<h3 class="bio">Gregory...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/038/original/gregory.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Gregory Dank</h3>
		<h3><em>(AMI Certified Assistant)</em></h3>
		<h3 class="bio-title"><em>Primary Community (assistant)</em></h3>
		<h3 class="bio">Gregory...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/039/original/sheila.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Sheila Heydt</h3>
		<h3><em>(B.A.)</em></h3>
		<h3 class="bio-title"><em>Primary Community (assistant)</em></h3>
		<h3 class="bio">Sheila...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/040/original/joyce.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Joyce Keller</h3>
		<h3 class="bio-title"><em>Primary Community (assistant)</em></h3>
		<h3 class="bio">Joyce...</h3>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="staff-elementary">
	  <div id="elem-lead">
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/033/original/nicole.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Nicole Jones</h3>
		<h3><em>(B.S., A.M.S. Certified)</em></h3>
		<h3 class="bio-title"><em>Younger Elementary Community (lead)</em></h3>
		<h3 class="bio">Nicole...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/032/original/krissa.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Krissa Hamric</h3>
		<h3><em>(B.A., A.M.S. Certified)</em></h3>
		<h3 class="bio-title"><em>Younger Elementary Community (lead)</em></h3>
		<h3 class="bio">Krissa...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/034/original/jason.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Jason Nord</h3>
		<h3><em>(B.S., M.Ed., A.M.I. Certified)</em></h3>
		<h3 class="bio-title"><em>Adolescent Community (lead)</em></h3>
		<h3 class="bio">Jason...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/053/original/jordan.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Jordan Hope</h3>
		<h3><em>(B.S. Montessori in training)</em></h3>
		<h3 class="bio-title"><em>Older Elementary Community (lead)</em></h3>
		<h3 class="bio">Jordan...</h3>
	      </div>
	    </div>
	  </div>
	  <div id="elem-assist">
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/042/original/ian.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Ian McKercher</h3>
		<h3><em>(B.A.)</em></h3>
		<h3 class="bio-title"><em>Primary &amp; Elementary Community (assistant)</em></h3>
		<h3 class="bio">Ian...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/054/original/devon.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Devon Crews</h3>
		<h3>&nbsp;</h3>
		<h3 class="bio-title"><em>Earth House Assistant, Facility Support</em></h3>
		<h3 class="bio">Ian...</h3>
	      </div>
	    </div>
	    <div class="member">
	      <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/043/original/tawnya.png');">&nbsp;</div>
	      <div class="staff-name">
		<h3 class='name'>Tawnya Skinner</h3>
		<h3 class="bio-title"><em>Earth House Cook, All-school Food Coordinator</em></h3>
		<h3 class="bio">Tawnya...</h3>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="extra">
	  <div class="member">
	    <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/044/original/morgan.png');">&nbsp;</div>
	    <div class="staff-name">
	      <h3 class='name'>Morgan Beach</h3>
	      <h3><em>(B.A., B.S.)</em></h3>
	      <h3 class="bio-title"><em>Earth House Music &amp; Art Specialist</em></h3>
	      <h3 class="bio">Morgan...</h3>
	    </div>
	  </div>
	  <div class="member">
	    <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/ande.png');">&nbsp;</div>
	    <div class="staff-name">
	      <h3 class='name'>Ande Reinkordt</h3>
	      <h3><em>(A.M.I. Certified)</em></h3>
	      <h3 class="bio-title"><em>Web Designer</em> <br /> <em>Young Children's Community</em></h3>
	      <h3 class="bio">Ande...</h3>
	    </div>
	  </div>
	  <div class="member">
	    <div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/034/original/jason.png');">&nbsp;</div>
	    <div class="staff-name">
	      <h3 class='name'>Jason Nord</h3>
	      <h3><em>(B.S., M.Ed., A.M.I. Certified)</em></h3>
	      <h3 class="bio-title">Board <em>Educational Programs Committee Chair</em></h3>
	      <h3 class="bio">Jason...</h3>
	    </div>
	  </div>
	  <div class="member">

	    <div class="staff-name">
	      <h3 class='name'>Lyle Shearer</h3>
	      <h3 class="bio-title"><em>Facilities</em></h3>
	      <h3 class="bio">Lyle...</h3>
	    </div>
	  </div>
	</div>
      </div>
      <div id="board-members">
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Jennifer Carter</h3>
	    <h3 class="bio-title">Board <em>President</em></h3>
	    <h3 class="bio">Jennifer...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Deb Cirksena</h3>
	    <h3 class="bio-title">Board <em>Vice President</em></h3>
	    <h3 class="bio">Deb...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Greer McCurley</h3>
	    <h3 class="bio-title">Board <em>Treasurer</em></h3>
	    <h3 class="bio">Greer...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>June Griffin</h3>
	    <h3 class="bio-title">Board <em>Secretary</em></h3>
	    <h3 class="bio">June...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Scott Baird</h3>
	    <h3 class="bio-title">Board <em>Member At-large</em></h3>
	    <h3 class="bio">Scott...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Reed Broderson</h3>
	    <h3 class="bio-title">Board <em>Member At-large</em></h3>
	    <h3 class="bio">Reed...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Mark Hutchings</h3>
	    <h3 class="bio-title">Board <em>Member At-large</em></h3>
	    <h3 class="bio">Mark...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Dan Inman</h3>
	    <h3 class="bio-title">Board <em>Facilities Committee Chair</em></h3>
	    <h3 class="bio">Dan...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Sarah McCurley</h3>
	    <h3 class="bio-title">Board <em>Member At-large</em></h3>
	    <h3 class="bio">Sarah...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Cheryl Schone/weis</h3>
	    <h3 class="bio-title">Board <em>Member At-large</em></h3>
	    <h3 class="bio">Cheryl...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Petronela Radu</h3>
	    <h3 class="bio-title">Board <em>Member At-large</em></h3>
	    <h3 class="bio">Petronela...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Emre Unlu</h3>
	    <h3 class="bio-title">Board <em>Member At-large</em></h3>
	    <h3 class="bio">Emre...</h3>
	  </div>
	</div>
	<div class="member">

	  <div class="staff-name">
	    <h3 class='name'>Jennifer Pearson</h3>
	    <h3 class="bio-title">Board <em>Member At-large</em></h3>
	    <h3 class="bio">Emre...</h3>
	  </div>
	</div>
      </div>
    </div>
    <%#= cms_snippet_content('staff-biographies', @cms_site).html_safe %>
  </div>
</div>

<script>


 /* $(function(){
 $('#staff div:gt(0)').hide();
 setInterval(function(){
 $('#staff :first-child').fadeOut()
 .next('div').fadeIn()
 .end().appendTo('#staff');},
 3000);
 });*/

 /* $("#staff > div:gt(0)").hide();

 setInterval(function() { 
 $('#staff > div:first')
 .fadeOut(2000)
 .next()
 .fadeIn(2000)
 .end()
 .appendTo('#staff');
 },  9000);*/

</script>


