<div style="background: url('camp-50.jpg');background-size:contain;height:100%;">
  <div class="container">
    <div id="jobs" style="background:white;margin-top:25%;">
    <%= cms_snippet_content('summer-camp', @cms_site).html_safe %>
  </div>
</div>
