<div class="small-12 small-centered columns card" style='overflow:hidden;'>

  <div class='row'>
    <div class='small-11 small-centered columns'>
      Summer Camp 2016 Coming Soon!
    </div>
    
    <div class='col-md-11'>
      <%#= cms_snippet_content('summer-camp', @cms_site).html_safe %>
    </div>

  </div>
</div>

