<div class="camp-bg" style="background-size:cover;height:900px;">
  <div class="container">
    <div id="jobs" style="background:white;margin-top:25%;">
    <%= cms_snippet_content('summer-camp', @cms_site).html_safe %>
  </div>
</div>
