$phill-grn: #3f8000;
$phill-gold: #ffef19;

//@import 'foundation_and_overrides';



.par {
    //padding: 5px;
    width: 90%;
    p {
	font-size: 1.5vw;
	line-height: 130%;
	padding: 15px 0;
    }
}

.orbit-container .orbit-prev span,
.orbit-container .orbit-next span {

    color: $phill-gold;
    border: none;
    font-size: 60px;
    text-indent: 0;
    margin-top: -32px;
}

.orbit-container .orbit-prev {
    background-color: transparent;
    left: 15px;
}

.orbit-container .orbit-prev span:before {
    content: "\2039";
}

.orbit-container .orbit-next {
    background-color: transparent;
    right: 15px;
}

.orbit-container .orbit-next span:before {
    content: "\203A";
}

.orbit-container .orbit-slides-container > * .orbit-caption {
    background: $phill-grn;
    font-size: 2vw;
}

.orbit-container {
    .orbit-slide-number {
	//display: none;
	color: transparent;
    }
}

.orbit-container .orbit-timer .orbit-progress {
    //background-color: $phill-gold;
}

.orbit-caption {
    p {
	font-size: 1.5vw;
	color: $phill-gold;
    }
    a {
	color: white;
    }
}

.orbit-bullets {
    display: none;
}

.fb {
    background: white;
    //position: fixed;
    //bottom: 0;
    //right: 0;
    margin: 0 5px 5px 0;
    widht: 100%;
    //width: 75%;
    //height: 75%;
    border-radius: 5px;
}

#layout_title_main {
    border: 0px solid rgba(255,250,200,1);
    border-radius: 2px;
}
.sharp-edge-nw {
    border:1px solid rgba(255,250,200,0.8);
    border-bottom:0px solid white;
    border-right:0px solid rgba(250,200,150,0.9);
}
.sharp-edge-ne {
    border:15px solid rgba(255,250,2460,0.9);
    border-bottom:0px solid white;
    border-left:0px solid rgba(250,200,150,0.9);
}
.sharp-edge-sw {
    //border:1px solid rgba(255,250,225,0.6);
    border: 1px solid rgba(10,10,10,0.3);
    border-top:0 solid rgba(255,250,200,0.6);
    border-left: 1px solid rgba(20,20,20,0.2);
    //border-left:1px solid rgba(250,220,175,0.9);
}

.footer {
    position: fixed;
    bottom: 0;
    right: 50px;
}

#footer-main {
    .button {
	border: 1px solid rgba(255,255,255,0.2);
    }
    .fb-footer-btn {
	border: 1px solid rgba(255,255,255,0.2);
    }
}

#slide-control-title {
    margin: 0;
    //border: 0.5px solid rgba(255,255,255,0.5);
}

.slick-btn {
    //border: 1px solid rgba(255,255,255,0.5);
    margin:0;
}

#small-browser {
    display: none;
}

.photo-icon {
    background-color:rgba(100,200,255,0.6);
    border-radius:50px;
    color:white;
}

.name {
    font-family: Pacifico, Lobster;
}

.masonry {
    column-count: 2;
    column-gap: 1em;
}

.masonry-item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

//media q
@media only screen and (max-width:60em) {
    #small-browser {
	display: inline;
	font-size: 4vw;
	margin: 15px;
    }
    #normal-browser {
	display: none;
    }

}

@media only screen and (max-width:640px) {
    #header {
	display: none;
    }
}

