$soft-blue: rgba(236,244,255,0.8);
$mid-blue: rgba(236,244,255,1);

#shift-time {
    background: rgba(200,200,100,0.8);
}

#shifts-marker {
    opacity: 0.9;
    background-color: white;
    &:hover {
	//background: image-url('hattie-ccf.jpg') fixed;
	//background-size: cover;
    }
}

#shifts {
    //background-color: $soft-blue;
    //background-color: $mid-blue;
    //background-color: #94c863;
    //background-color: #63b28c;
    background-color: rgba(99, 178, 140, 0.5);
    //background-color: rgba(30%,51%,10%,0.2);
}

#shift-single {
    
}