<div class='small-12 columns bottom-shadow'>

  <% if @type == "All" %>
    <%= render 'activities/category_title' %>
    <%= render 'activities/table_view' %>
  <% else %>
    <%= render 'activities/category_title' %>
    <%= render 'activities/table_filtered_view' %>
  <% end %>

</div>
