<div class='sidebar-headline hi-li-gradient expanded row bottom-shadow'>
  <strong>
    <i class='fa fa-pagelines padded-left-5'></i>
    <em>
      <%= link_to 'Activities', ccf_volunteer_path %>
    </em>
  </strong>
</div>
<div class='row'>
  <div id='activities-sidebar' class='sidebar-content sidebar-scrollable small-11 small-centered columns padded-top-5'>
    <div class='raise'>
      <% @activities.each do |activity| %>

        <div class='padded-top-5'>
          <strong>
            <div class='row expanded'>
              <div class='small-6 columns left'>
                <span class="warning badge"><%= activity.timeslots.count %></span>
              </div>
              <div class='small-6 columns right'>
                <%= link_to activity.work_area, activity, style: 'text-align:right;' %><br>
              </div>
            </div>
          </strong>
        </div>

      <% end %>
    </div>
  </div>
</div>
