<div class='row'>
  <div class='small-12 columns left'>
    <h1 class='button expand bottom-shadow'><%= @type %></h1>
  </div>
</div>
<div class='row'>
  <div class='small-1 columns right'>
    <% if current_user.try(:admin?) %>
      <%= link_to new_activity_path do %>
	<i class="fi-plus" style='color:red;'></i>
      <% end %>
    <% end %>
  </div>
</div>
