<div class='row'>
  <div class='small-12 columns left'>
    <span class='button expand bottom-shadow' style='font-size:2vw;'><i class='fi-list-bullet'></i> <%= @type %></span>
  </div>
</div>
<div class='row'>
  <div class='small-1 columns right'>
    <% if current_user.try(:admin?) %>
      <%= link_to new_activity_path do %>
	<i class="fi-plus" style='color:red;'></i>
      <% end %>
    <% end %>
  </div>
</div>
