<div class='row'>
  <div class='small-12 columns left'>
    <span class='button expand bottom-shadow' style='font-size:2vw;'><i class='fi-list-bullet'></i> <%= @type %></span>
  </div>
</div>
<% if current_user.try(:admin?) %>
  <div class='row'>
    <div class='small-1 columns right'>
      <%= link_to new_activity_path do %>
	<i class="fi-plus" style='color:red;'></i>
      <% end %>
    </div>
  </div>
<% end %>
