<ul id='category-selection' class='button-group even-2' style=''>
  <li>
    <%= link_to "My Shifts", user_shifts_path, class: 'success button large bottom-shadow' %>
    <span class='label alert badge-fix hidden'>
      <%= get_open_prep_shifts.count %>
    </span>
  </li>
  <li>
    <%= link_to 'Activities', activities_path, class: 'button success large expand bottom-shadow' %>
    <span class='label alert badge-fix hidden'>
      <%= get_open_teardown_shifts.count %>
    </span>
  </li>
</ul>
