<!--TOP-->
<div id='top' class='expanded row'>
  <span class='special-case'></span>
</div>

<!--TOPNAV-->
<div id='home-nav' class='expanded row'>
  <div class='small-12 columns'>
    <h4 style='text-align:right;'>
    </h4>
  </div>
</div>

<div id='work-area' class='expanded row bottom-shadow content-box special-box'>
  <h1 class='hi-li-box green five-rem text-outline-dark bottom-shadow' style='text-align:center;'>
    <strong><%= @activity.work_area %></strong>
  </h1>
</div>

<div id='' class='expanded row bottom-shadow content-box special-box'>
  <%= render 'form' %>
</div>
