<table>
  <thead>
    <tr>
      <th>
        Work Area
      </th>
      <th>
        Available Shifts
      </th>
      <th>
        Coordinator
      </th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td>
          <%= activity.work_area %>
        </td>
        <td>
          <%= get_open_shifts %>
        </td>
        <td>
          <%= activity.coordinator %>
        </td>
        <td>
          <%= link_to 'Edit', edit_activity_path(activity) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
