<%= render 'pages/metadata_partial' %>
<!--TOP-->
<div id='top' class='expanded row'>
  <span class='special-case'></span>
</div>

<!--TOPNAV-->
<div id='home-nav' class='expanded row blue-box-dark-outline'>
  <div class='small-12 columns'>
    <h4 style='text-align:right;'>
      <em><%= link_to 'EDIT', edit_activity_path %></em> 
    </h4>
  </div>
</div>

<div class='expanded row bottom-shadow content-box special-box'>
  <div class='small-12 columns'>
    <h2 class='hi-li-green-box padded kaushan center five-rem text-outline-dark bottom-shadow' style='color:white;'>
      <i class='fa fa-sun-o yellow'></i>   <%= @activity.work_area %>!
    </h2>
  </div>

  <div class='small-12 columns'>
    
  </div>
</div>
