<div class="staff-img" style="background-image: url('/system/comfy/cms/files/files/000/000/013/original/jeanne.png');">
  <div class="staff-name">
    <h2>Jeanne Hevener</h2>
    <h3>(B.S., B.M.E.)</h3>
  </div>
  <p class="bio-title"><em>Director of Administration</em></p>
  <p class="bio">Jeanne...</p>
</div>

<div class="staff-img" style="background-image: url('/system/comfy/cms/files/files/000/000/014/original/chris.png');">
  <div class="staff-name">
    <h2>Chris Eigbrett</h2>
    <h3>(B.S., A.M.S. Certified, A.M.I. Certified)</h3>
  </div>
  <p class="bio-title"><em>Director of Pedagogical Support</em>
    <br /> 
    <em>Young Children's Community</em></p>
  <p class="bio">Chris...</p>
</div>

<div class="staff-img" style="background-image: url('/system/comfy/cms/files/files/000/000/015/original/mandie.png');">
  <div class="staff-name">
    <h2>Mandie Schadwinkel</h2>
    <h3>(B.S., M.Ed., A.M.I. Certified)</h3>
  </div>
  <p class="bio-title"><em>Director of Enrollment and Programs</em>
    <br/>
    Board <em>Member At-large</em>
    <em>Primary Community</em></p>
  <p class="bio">Mandie ....</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/ande.png');">
  <div class="staff-name">
    <h2>Ande Reinkordt</h2> 
    <h3>(A.M.I. Certified)</h3>
  </div>
  <p class="bio-title"><em>Web Designer</em>
    <br/>
    <em>Young Children's Community</em>
  </p>
  <p class="bio">Ande...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/029/original/ania.png');">
  <div class="staff-name">
    <h2>Ania Szary-Berkowitz</h2>
    <h3>B.S., M.S., A.M.S. Certified)</h3>
  </div>
  <p class="bio-title"><em>Young Children's Community</em></p>
  <p class="bio">Ania...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/030/original/justin.png');">
  <div class="staff-name">
    <h2>Justin Fearing</h2> 
    <h3>(B.A., A.M.I. Certified)</h3>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Justin...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/033/original/nicole.png');">
  <div class="staff-name">
    <h2>Nicole Jones</h2> 
    <h3>(B.S., A.M.S. Certified)</h3>
  </div>
  <p class="bio-title"><em>Elementary Community</em></p>
  <p class="bio">Nicole...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/034/original/jason.png');">
  <div class="staff-name">
    <h2>Jason Nord</h2> 
    <h3>(B.S., M.Ed., A.M.I. Certified)</h3>
  </div>
  <p class="bio-title"><em>Elementary Community</em>
    <br/>
    Board <em>Educational Programs Comittee Chair</em></p>
  <p class="bio">Jason...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/035/original/sandra.png');">
  <div class="staff-name">
    <h2>Sandra Rebel-Batelaan</h2> 
    <h3>(B.S.)</h3>
  </div>
  <p class="bio-title"><em>Young Children's Community</em></p>
  <p class="bio">Sandra...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/036/original/stephanie.png');">
  <div class="staff-name">
    <h2>Stephanie Meyer</h2>
  </div>
  <p class="bio-title"><em>Young Children's Community</em></p>
  <p class="bio">Stephanie...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/037/original/grant.png');">
  <div class="staff-name">
    <h2>Grant Brownyard</h2>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Grant...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/carina.png');">
  <div class="staff-name">
    <h2>Carina Berkowitz</h2>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Carina...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/038/original/gregory.png');">
  <div class="staff-name">
    <h2>Gregory Dank</h2>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Gregory...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/hannan.png');">
  <div class="staff-name">
    <h2>Nicole Hannan</h2> 
    <h3>(A.M.S. Certified)</h3>
  </div>
  <p class="bio-title"><em>Young Children's Community</em>
    <br/>
    <em>Primary Community</em></p>
  <p class="bio">Nicole...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/039/original/sheila.png');">
  <div class="staff-name">
    <h2>Sheila Heydt</h2> 
    <h3>(B.A.)</h3>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Sheila...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/040/original/joyce.png');">
  <div class="staff-name">
    <h2>Joyce Keller</h2>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Joyce...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/041/original/madeline.png');">
  <div class="staff-name">
    <h2>Madeline Weiland</h2> 
    <h3>(B.A., M.Ed.)</h3>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Madeline...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/042/original/ian.png');">
  <div class="staff-name">
    <h2>Ian McKercher</h2>
  </div>
  <p class="bio-title"><em>Elementary Community</em></p>
  <p class="bio">Ian...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/043/original/tawnya.png');">
  <div class="staff-name">
    <h2>Tawnya Skinner</h2>
  </div>
  <p class="bio-title"><em>Elementary Community</em></p>
  <p class="bio">Tawnya...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/lyle.png');">
  <div class="staff-name">
    <h2>Lyle Shearer</h2>
  </div>
  <p class="bio-title"><em>Facilities</em></p>
  <p class="bio">Lyle...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/rhodes.png');">
  <div class="staff-name">
    <h2>Marvin Rhodes</h2>
  </div>
  <p class="bio-title"><em>Special Volunteer</em></p>
  <p class="bio">Marvin...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/carter.png');">
  <div class="staff-name">
    <h2>Jennifer Carter</h2>
  </div>
  <p class="bio-title">Board <em>President</em></p>
  <p class="bio">Jennifer...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/cirksena.png');">
  <div class="staff-name">
    <h2>Deb Cirksena</h2>
  </div>
  <p class="bio-title">Board <em>Vice President</em></p>
  <p class="bio">Deb...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/baird.png');">
  <div class="staff-name">
    <h2>Scott Baird</h2>
  </div>
  <p class="bio-title">Board <em>Treasurer</em></p>
  <p class="bio">Scott...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/griffin.png');">
  <div class="staff-name">
    <h2>June Griffin</h2>
  </div>
  <p class="bio-title">Board <em>Secretary</em></p>
  <p class="bio">June...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/foster.png');">
  <div class="staff-name">
    <h2>Gena Foster</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Gena...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/hutchings.png');">
  <div class="staff-name">
    <h2>Mark Hutchings</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Mark...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/inman.png');">
  <div class="staff-name">
    <h2>Dan Inman</h2>
  </div>
  <p class="bio-title">Board <em>Facilities Committee Chair</em></p>
  <p class="bio">Dan...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/mccurley.png');">
  <div class="staff-name">
    <h2>Sarah McCurley</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Sarah...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/schoneweis.png');">
  <div class="staff-name">
    <h2>Cheryl Schoneweis</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Cheryl...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/storz.png');">
  <div class="staff-name">
    <h2>Jay Storz</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Jay...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/radu.png');">
  <div class="staff-name">
    <h2>Petronela Radu</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Petronela...</p>
</div>

<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/unlu.png');">
  <div class="staff-name">
    <h2>Emre Unlu</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Emre...</p>
</div>


NEW


<div class="staff-img" style="background-image: url('/system/comfy/cms/files/files/000/000/013/original/jeanne.png');">
  <div class="staff-name">
    <h2>Jeanne Hevener</h2>
    <h3><em>(B.S., B.M.E.)</em></h3>
  </div>
  <p class="bio-title"><em>Director of Administration</em></p>
  <p class="bio">Jeanne...</p>
</div>
<div class="staff-img" style="background-image: url('/system/comfy/cms/files/files/000/000/014/original/chris.png');">
  <div class="staff-name">
    <h2>Chris Eigbrett</h2>
    <h3><em>(B.S., A.M.S. Certified, A.M.I. Certified)</em></h3>
  </div>
  <p class="bio-title"><em>Director of Pedagogical Support</em> <br /> <em>Young Children's Community</em></p>
  <p class="bio">Chris...</p>
</div>
<div class="staff-img" style="background-image: url('/system/comfy/cms/files/files/000/000/015/original/mandie.png');">
  <div class="staff-name">
    <h2>Mandie Schadwinkel</h2>
    <h3><em>(B.S., M.Ed., A.M.I. Certified)</em></h3>
  </div>
  <p class="bio-title"><em>Director of Enrollment and Programs</em> <br /> Board <em>Member At-large</em> <em>Primary Community</em></p>
  <p class="bio">Mandie ....</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/ande.png');">
  <div class="staff-name">
    <h2>Ande Reinkordt</h2>
    <h3><em>(A.M.I. Certified)</em></h3>
  </div>
  <p class="bio-title"><em>Web Designer</em> <br /> <em>Young Children's Community</em></p>
  <p class="bio">Ande...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/029/original/ania.png');">
  <div class="staff-name">
    <h2>Ania Szary-Berkowitz</h2>
    <h3><em>B.S., M.S., A.M.S. Certified)</em></h3>
  </div>
  <p class="bio-title"><em>Young Children's Community</em></p>
  <p class="bio">Ania...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/030/original/justin.png');">
  <div class="staff-name">
    <h2>Justin Fearing</h2>
    <h3><em>(B.A., A.M.I. Certified)</em></h3>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Justin...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/033/original/nicole.png');">
  <div class="staff-name">
    <h2>Nicole Jones</h2>
    <h3><em>(B.S., A.M.S. Certified)</em></h3>
  </div>
  <p class="bio-title"><em>Elementary Community</em></p>
  <p class="bio">Nicole...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/034/original/jason.png');">
  <div class="staff-name">
    <h2>Jason Nord</h2>
    <h3><em>(B.S., M.Ed., A.M.I. Certified)</em></h3>
  </div>
  <p class="bio-title"><em>Elementary Community</em> <br /> Board <em>Educational Programs Comittee Chair</em></p>
  <p class="bio">Jason...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/035/original/sandra.png');">
  <div class="staff-name">
    <h2>Sandra Rebel-Batelaan</h2>
    <h3><em>(B.S.)</em></h3>
  </div>
  <p class="bio-title"><em>Young Children's Community</em></p>
  <p class="bio">Sandra...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/036/original/stephanie.png');">
  <div class="staff-name">
    <h2>Stephanie Meyer</h2>
  </div>
  <p class="bio-title"><em>Young Children's Community</em></p>
  <p class="bio">Stephanie...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/037/original/grant.png');">
  <div class="staff-name">
    <h2>Grant Brownyard</h2>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Grant...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/carina.png');">
  <div class="staff-name">
    <h2>Carina Berkowitz</h2>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Carina...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/038/original/gregory.png');">
  <div class="staff-name">
    <h2>Gregory Dank</h2>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Gregory...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/hannan.png');">
  <div class="staff-name">
    <h2>Nicole Hannan</h2>
    <h3><em>(A.M.S. Certified)</em></h3>
  </div>
  <p class="bio-title"><em>Young Children's Community</em> <br /> <em>Primary Community</em></p>
  <p class="bio">Nicole...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/039/original/sheila.png');">
  <div class="staff-name">
    <h2>Sheila Heydt</h2>
    <h3><em>(B.A.)</em></h3>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Sheila...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/040/original/joyce.png');">
  <div class="staff-name">
    <h2>Joyce Keller</h2>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Joyce...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/041/original/madeline.png');">
  <div class="staff-name">
    <h2>Madeline Weiland</h2>
    <h3><em>(B.A., M.Ed.)</em></h3>
  </div>
  <p class="bio-title"><em>Primary Community</em></p>
  <p class="bio">Madeline...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/042/original/ian.png');">
  <div class="staff-name">
    <h2>Ian McKercher</h2>
  </div>
  <p class="bio-title"><em>Elementary Community</em></p>
  <p class="bio">Ian...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/043/original/tawnya.png');">
  <div class="staff-name">
    <h2>Tawnya Skinner</h2>
  </div>
  <p class="bio-title"><em>Elementary Community</em></p>
  <p class="bio">Tawnya...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/lyle.png');">
  <div class="staff-name">
    <h2>Lyle Shearer</h2>
  </div>
  <p class="bio-title"><em>Facilities</em></p>
  <p class="bio">Lyle...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/rhodes.png');">
  <div class="staff-name">
    <h2>Marvin Rhodes</h2>
  </div>
  <p class="bio-title"><em>Special Volunteer</em></p>
  <p class="bio">Marvin...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/carter.png');">
  <div class="staff-name">
    <h2>Jennifer Carter</h2>
  </div>
  <p class="bio-title">Board <em>President</em></p>
  <p class="bio">Jennifer...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/cirksena.png');">
  <div class="staff-name">
    <h2>Deb Cirksena</h2>
  </div>
  <p class="bio-title">Board <em>Vice President</em></p>
  <p class="bio">Deb...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/baird.png');">
  <div class="staff-name">
    <h2>Scott Baird</h2>
  </div>
  <p class="bio-title">Board <em>Treasurer</em></p>
  <p class="bio">Scott...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/griffin.png');">
  <div class="staff-name">
    <h2>June Griffin</h2>
  </div>
  <p class="bio-title">Board <em>Secretary</em></p>
  <p class="bio">June...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/foster.png');">
  <div class="staff-name">
    <h2>Gena Foster</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Gena...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/hutchings.png');">
  <div class="staff-name">
    <h2>Mark Hutchings</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Mark...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/inman.png');">
  <div class="staff-name">
    <h2>Dan Inman</h2>
  </div>
  <p class="bio-title">Board <em>Facilities Committee Chair</em></p>
  <p class="bio">Dan...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/mccurley.png');">
  <div class="staff-name">
    <h2>Sarah McCurley</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Sarah...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/schoneweis.png');">
  <div class="staff-name">
    <h2>Cheryl Schoneweis</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Cheryl...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/storz.png');">
  <div class="staff-name">
    <h2>Jay Storz</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Jay...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/radu.png');">
  <div class="staff-name">
    <h2>Petronela Radu</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Petronela...</p>
</div>
<div class="staff-img" style="background-image: url('http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/028/original/unlu.png');">
  <div class="staff-name">
    <h2>Emre Unlu</h2>
  </div>
  <p class="bio-title">Board <em>Member At-large</em></p>
  <p class="bio">Emre...</p>
</div>
