<!--VIEW EXPAND AND RETRACT-->
<button id='expand-button'
	class='button success bottom-shadow'
	style='margin:0;'>
  <i class='fa fa-expand'></i>
</button> 

<button id='retract-button' class='button success bottom-shadow'
	style='margin:0;'>
  <i class='fa fa-compress'></i>
</button>
<!---->
