<div class='expanded row bottom-shadow content-box special-box'>
  <div class='small-10 small-centered columns'>
    <p class='center two-rem'><strong>PRAIRIE HILL Learning Center does not discriminate on the basis of
      race, color, national origin, age, disability, religion, sex, familial status,
      sexual orientation, or reprisal.</strong> <a data-open='legal-info'>Please click here for more information</a>
    </p>
    
    <div class='reveal' id='legal-info' data-reveal>
      <%= cms_snippet_content('legal', @cms_site).html_safe %>
      <button class='close-button' data-close aria-label='Close modal' type='button'>
        <span aria-hidden='true'>&times;</span>
      </button>
    </div>
  </div>
</div>
