<div class='small-9 columns right'>

  <div class='row'>

    <!--SMALL ICONS-->
    <div id='footer-buttons' class='small-4 columns'>
      
      <!--DONATE-->
      <div class='small-4 columns'
	   style='padding:0;'>
	<%= render 'layouts/paypal_btn' %>
      </div>

      <!--LEGAL INFO-->
      <div class='small-5 columns' id='legal-info'
	   style='padding:0;'>
	<button class='button success expand bottom-shadow' data-reveal-id='legalModal' style='color:white;'>
	  Info
	  <!--<i class='fa fa-info-circle'
	  style='border:2px solid rgba(221,133,36,0);'></i>-->
	</button>

	<div id='legalModal'
	     class='reveal-modal'
	     data-reveal
	     aria-labelledby='modalLegal'
	     aria-hidden='true'
	     role='dialog'>
	  <%= render 'pages/legal' %>
	</div>

      </div>

      <!--FACEBOOK-->
      <div class='small-3 columns'>
	<a href="https://www.facebook.com/PrairieHillLearningCenter?ref=br_tf">
	  <%= image_tag "fb-foundation-button.jpg", class: 'bottom-shadow' %>
	</a>
      </div>
      
    </div>
    <!--^^-->
    
    <!--CONTROL-->
    <div class='footer-slide small-8 columns'>
      
      <!--SLIDES CONTROL ATTACHMENT-->
      <div class='footer-slide small-10 columns'>
	<div id='slide-area'
	     class='small-12 columns'
	     style='position:relative;
	     margin:0;'>
	</div>
      </div>

      <div class='small-2 columns'>
	<%= render 'layouts/expand_retract_buttons' %>
      </div>

      <!--PHONE 3-->
      <!--<div class='footer-slide small-3 columns hidden'>-->
      <!--<div class='hi-li padded-sides' style='position:absolute;top:20px;border-radius:3px;'>-->
      <!--<strong>(402) 438-6668</strong>-->
      <!--</div>-->
      <!--</div>-->

      <!--QUOTE 4-->
      <!--<div class='footer-slide small-5 columns hidden' style='position:absolute;bottom:5px;left:36%;z-index:3;'>-->
      <%#= render 'pages/page_add_quote' %>
      <!--</div>-->

    </div>
  </div>
</div>
