<!--LOGO-->
<div id='logo' class='small-10 small-centered large-centered columns content bottom-shadow' style='padding:0;border-radius:2px;'>
  <%= link_to image_tag("logo-transparent.png"), root_path %>
</div>

<!--MENU-->
<div class='small-10 small-centered columns content'>
  <div id="menu-browser" class='menu-browser' style='opacity:0.9;'>
    <%= render 'layouts/static_menu' %>
  </div>
</div>
