<!--HEADER-->
<div class='expanded row'>
  <div class='small-12 large-12 large-centered columns'>

    <!--TITLE-->
    <div id='title' class='small-8 columns' style='padding-left:0;'>
    
      <div class='small-12 left columns' data-sticky-container>
        <div class='sticky title' data-sticky data-margin-top="0">

          <!--main-->
          <div class='small-12 left columns'>
            <h1 class=''>
              <strong>
                PRAIRIE HILL
              </strong>
            </h1>
          </div>

          <!--sub-->
          <div class='small-12 right columns'>
            <h1 class='subtitle'>          
              <strong>
                Learning Center
              </strong>
            </h1>
          </div>

        </div>
      </div>
    </div>

    <!--LOGO-->
    <div id='logo' class='small-4 right columns'>
      <div data-sticky-container>
        <div class='sticky' data-sticky data-margin-top="3">
          <%= link_to image_tag("logo-transparent.png", class: "logo small-8 columns"), root_path %>
        </div>
      </div>
    </div>

    <!--NAV-->
    <div class='row expanded'>
      <div id='nav-main' class='small-12 columns'>
        <!--<div data-sticky-container>-->
        <!--<div class='sticky' data-sticky data-margin-top="2em">-->
        <%= render 'layouts/nav' %>
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>

  </div>
</div>
