<div class="logo-box" style="border-right: 2px solid #3f8000;">
  <div id="title">
    <div>
      <%= image_tag("logo-transparent.png", class: "title-logo") %>
    </div>
    <div class="title-name">
      <strong>PRAIRIE HILL</strong>
    </div> 
    <div class="title-sub-name">
      <em>Learning Center</em>
    </div>
  </div>
</div>

<div>
  <div style="display:none;" class="phone">(402) 438-6668</div>
</div>

<div id="filler">
</div>
