<div class="logo-box">

  <div id="title">
    <div>
      <%= image_tag("logo-transparent.png", class: "title-logo") %>
    </div>
    <div style="display: none;"
	 data-0="opacity:0;"
	 data-600="opacity:0.9;"
	 >
      <%= image_tag("logo-transparent.png", class: "title-logo-fixed") %>
    </div>
    <div class="title-name">
      <strong>PRAIRIE HILL</strong>
    </div> 
    <div class="title-sub-name">
      <em>Learning Center</em>
    </div>
  </div>
</div>

<% if current_page?(root_path) %>
  <%= render 'page_add_quote' %>
<% end %>






