<div class="logo-box">
<div id="title">
  <div class="title-name">
    <strong>PRAIRIE HILL</strong>
  </div> 

  <div class="title-sub-name">
    <em>Learning Center</em></div>
  <div class="phone">(402) 438-6668</div>
</div>
<div id="filler">
</div>
