<div class='expanded row'>
  <div class='small-12 large-8 large-centered columns'>

    <!--TITLE-->
    <div class='small-10 medium-10 large-10 columns' style='padding-left:0;'>
      <div id='title' data-sticky-container>
        <div class='sticky title' data-sticky data-margin-top="0">
          <!--<div class='box effect3'>-->
          <h1 class='title' style=''><strong><span style='font-size:9rem;'>PRAIRIE HILL</span> <span class='kaushan'>Learning Center</span></strong></h1>
          <!--</div>-->
        </div>
      </div>
    </div>

    <!--LOGO-->
    <div class='small-2 medium-2 large-2 right columns'><!-- style='position:absolute;right:0;'>-->
      <div data-sticky-container>
        <div class='sticky' data-sticky data-margin-top="0">
          <%= link_to image_tag("logo-transparent.png", class: "logo"), root_path %>
        </div>
      </div>
    </div>

    <!--NAV-->
    <div class='small-12 medium-12 large-8 large-centered columns'>
      <div data-sticky-container>
        <div class='sticky' data-sticky data-margin-top="10">
          <%= render 'layouts/nav' %>
        </div>
      </div>
    </div>
  </div>
</div>
