<div id='nav-mobile'>

  <ul class="dropdown menu nav-main" data-dropdown-menu data-options='disableHover:true;clickOpen:true'>
    <li class='is-dropdown-submenu-parent'>
      <a href="#" class='mobile-icon-link' style='font-size:3vw;padding:5px;'>
        <i id='nav-mobile-icon'
           class='fa fa-chevron-circle-down center text-outline-darker'
           style=''></i>
      </a>

      <ul class="menu nav-main">
        <%= render 'layouts/nav_list' %>
      </ul>
      
    </li>
  </ul>
</div>

<div id='nav-full'>
  <ul class="menu nav-main">
    <%= render 'layouts/nav_list' %>
  </ul>
</div>
