<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <!--<span style="font-family:trebuchet ms,arial,helvetica;"
	rel="font-family:trebuchet ms,arial,helvetica;">-->
    <input name="cmd" value="_xclick" type="hidden">
    <input name="business" value="prairiehillschool@yahoo.com" type="hidden">
    <input name="no_note" value="1" type="hidden">
    <input name="currency_code" value="USD" type="hidden">
    <input name="tax" value="0" type="hidden">
    <!--<input alt="Make payments with PayPal - it's fast, free and secure!" name="submit" type="image" style='color:white;'>-->
    <button class='button success bottom-shadow' name="submit" type="submit" style='color:white;' target='_blank' rel="noopener noreferrer">
      Donate
    </button>    
    <!--<input alt="Make payments with PayPal - it's fast, free and secure!" name="submit" src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" type="image">-->
    <!--<input alt="Make payments with PayPal - it's fast, free and secure!" name="submit" src="/assets/banner_blue_SM.jpg" type="image">-->
  <!--</span>-->
</form>
