  <!--QUOTE-->
  <% if current_page?(root_path) %>
    <div class='row'>
      <div id='quote'
	   data-0='right:60px;width:70%;font-size:2vw;'
	   data-500='right:1500px;width:20%;font-size:1vw;'
	   >
	<%= render 'layouts/quote' %>
      </div>
    </div>
  <% end %>
  <!--QUOTE-->
