<span class='kaushan three-rem'><span class='green'>Education is a natural process</span> spontaneously carried out by the human individual, and is <span class='green'>acquired</span> not by listening to words but <span class='green'>by experiencing</span> them.</span>
<br><em>--Maria Montessori, Education for a New World</em>
