<div class='footer-slider hi-li-grn padded-sides bottom-shadow' style='border-radius:3px;text-align:center;'>
  <div>
    Education is a natural process spontaneously carried out by the human individual,
  </div>
  <div>
    and is acquired not by listening to words but by experiencing them.
  </div>
  <div>
    <em>--Maria Montessori, Education for a New World</em>
  </div>
</div>
