<div class="quote-text">
  <strong>Education is a natural process spontaneously carried out by the human 
    individual, and is acquired not by listening to words but by experiencing
    them.</strong>
</div>
<div class="author">
  <em>--Maria Montessori, Education for a New World</em>
</div>

