<span class='kaushan three-rem'>Education is a natural process spontaneously carried out by the human individual,
and is acquired not by listening to words but by experiencing them.</span>
<br><hr><em>--Maria Montessori, Education for a New World</em>
