
<!--LEFT-->
<div id='title-a' class='small-12 large-6 columns' style='padding:0;'>
  <!--CASE-->
  <% case request.fullpath %>
  <% when '/ccf', '/ccf/info', '/ccf/volunteer', '/activities', '/ccf/activities', '/ccf/user_shifts', '/activities/new' %>
  <!--CASE-->

  <!--CCF TITLE-->
  <div class='small-12 columns' style='padding:0;'>
    <div class='title-a hi-li bottom-shadow padded-sides'
	 style='padding-top:17px;
	 padding-bottom:16px;
	 font-size:2vw;'>
      <i class='fa fa-child green'
	 style='font-size:3vw;'></i>
      <span class='fancy' style='text-align:right;background:transparent;'>
	<strong>The Children's</strong>
	<span class='green'>
	  Country Fair
	</span>!
      </span>
    </div>
  </div>
  <!---->

  <% else %>

  <!--PRAIRIE HILL-->
  <div class='small-12 columns' style='padding:0;'>
    <div id='title-a-ph'
	 class='hi-li bottom-shadow padded-sides'
	 style='
	 padding-top:7px;
	 padding-bottom:7px;
	 '
	 >
      PRAIRIE HILL
    </div>
  </div>
  <!---->

  <% end %>
</div>
<!--LEFT-->

<!--RIGHT-->
<div id='title-b' class='small-12 large-6 columns' style='padding:0;'>

  <% case request.fullpath %>
  <% when '/ccf', '/ccf/volunteer', '/ccf/info', '/activities', '/ccf/activities', '/ccf/user_shifts', '/activities/new' %>

  <!--CCF DATE-->
  <div class='small-12 columns' style='padding:0;'>
    <div class='hi-li-grn bottom-shadow padded-sides'
	  style='padding-top:17px;
	 padding-bottom:16px;
	 font-size:2vw;
	 text-align:right;'>
	  October 3, 2015
      <span style='font-size:1.5vw;'>
	<em>11am-3pm</em>
      </span>
    </div>
  </div>
  <!---->

  <% else %>

  <!--LEARNING CENTER-->
  <div class='small-12 columns' style='padding:0;'>
    <div id='title-a-lc' class='hi-li-grn bottom-shadow padded-sides'
	 style='padding-top:7px;
	 padding-bottom:7px;
	 text-align:right;'>
      LEARNING CENTER
    </div>
  </div>
  <% end %>
  
</div>
<!--RIGHT-->
